@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-y: hidden;
  text-transform: uppercase;
}

body {
  font-family: "Nanum Gothic", sans-serif;
}

a {
  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
}

.nav-checkbox {
  display: none;
}
.nav-button {
  background-color: transparent;
  width: 7rem;
  height: 6rem;
  position: fixed;
  z-index: 2000;
  cursor: pointer;
  border-radius: 2px;
  text-align: center;
  left: 1rem;
}
.nav-bg {
  background-color: rgba(0, 0, 0, 0.7);
  width: 7rem;
  height: 6rem;
  position: fixed;
  z-index: 1000;
  border-radius: 2px;
  left: 1rem;
  transition: all 0.8s;
}
.nav-checkbox:checked ~ .nav-bg {
  transform: scale(80);
}
.nav-icon {
  position: relative;
  margin-top: 3rem;
}
.nav-icon::before {
  top: -0.7rem;
}
.nav-icon::after {
  top: 0.7rem;
}
.nav-icon::before, .nav-icon::after {
  position: absolute;
  content: "";
  left: 0;
  transition: all 0.2s;
}
.nav-icon, .nav-icon::before, .nav-icon::after {
  width: 2rem;
  height: 2.5px;
  background: #fff;
  display: inline-block;
  border-radius: 10px;
}
.nav-button:hover .nav-icon::before {
  top: -1rem;
}
.nav-button:hover .nav-icon:after {
  top: 1rem;
}
.nav-checkbox:checked ~ .nav-button .nav-icon {
  background-color: transparent;
}
.nav-checkbox:checked ~ .nav-button .nav-icon:before {
  top: 0;
  transform: rotate(135deg);
}
.nav-checkbox:checked ~ .nav-button .nav-icon:after {
  top: 0;
  transform: rotate(-135deg);
}
.nav-body {
  position: fixed;
  top: 0;
  left: -120%;
  width: 100vw;
  height: 100vh;
  z-index: 1500;
  opacity: 0;
  transition: all 0.8s;
}
.nav-list {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  width: 100%;
  text-align: center;
}
.nav-item {
  margin: 10px;
}
.nav-link {
  display: inline-block;
  font-size: 3rem;
  font-weight: 400;
  padding: 1rem 2rem;
  color: #fff;
  transition: all 0.4s;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
}
.nav-link:hover {
  color: #FF7EA5;
  background-position: 100%;
  transform: translateX(1rem);
}
.nav-link span {
  display: inline-block;
  margin-right: 1.5rem;
}
.nav-checkbox:checked ~ .nav-body {
  opacity: 1;
  left: 0;
}

#header {
  position: fixed;
  width: 100%;
  height: 63px;
  background: rgba(0, 0, 0, 0.2);
  z-index: 99;
}
#header .logo {
  height: 100%;
  position: relative;
}
#header .logo a {
  height: inherit;
  display: inline-block;
}
#header .logo a img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#header .language-select {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}
#header .language-select select {
  border: 0 solid;
  background: transparent;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 800;
  text-transform: uppercase;
  cursor: pointer;
}
#header .language-select select:hover {
  color: #fff;
}
#header .language-select select option {
  color: #6b6b6b;
}

main {
  position: relative;
  background-color: #061a3f;
}
main::after {
  content: "";
  display: block;
  clear: both;
}
main section {
  max-width: 100%;
  height: 877px;
}
main section .bg {
  width: 100%;
  height: 100%;
  background: url(../images/kv-fight_escape.jpg) no-repeat center;
  background-size: cover;
}
main section .bg .img {
  width: 100%;
  height: 100%;
  background: url(../images/kv-fight_escape.png) no-repeat center;
}
main section .bg .text {
  position: absolute;
  top: 33%;
  left: 20%;
  padding-top: 90px;
  color: #fff;
  text-transform: none;
  font-family: "Oswald", sans-serif;
}
main section .bg .text h2 {
  font-size: 70px;
  font-weight: 400;
  line-height: 1.2;
}
main section .bg .text h2 span {
  position: relative;
  top: -1rem;
  left: -3%;
}
main::after {
  content: "";
  display: block;
  clear: both;
}
@media screen and (min-width: 900px) and (max-width: 1200px) {
  main {
    width: 100%;
  }
}
@media screen and (min-width: 701px) and (max-width: 899px) {
  main {
    width: 100%;
    height: 54rem;
  }
}
@media screen and (max-width: 700px) {
  main {
    width: 100%;
    height: 54rem;
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #6b6b6b;
  background-color: #272727;
  padding: 10px 30px;
}
footer .footer_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer_wrap .footer_link {
  width: 33%;
}
@media screen and (max-width: 700px) {
  footer .footer_wrap .footer_link {
    width: 60%;
  }
}
footer .footer_wrap .footer_link ul {
  position: relative;
}
footer .footer_wrap .footer_link ul li {
  display: flex;
}
footer .footer_wrap .footer_link ul li a {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
footer .footer_wrap .footer_link ul li .twitter {
  background-image: url(../images/twitter.png);
}
footer .footer_wrap .footer_link ul li .twitter:hover {
  background-image: url(../images/twitter_h.png);
}
footer .footer_wrap .footer_link ul li .facebook {
  background-image: url(../images/facebook.png);
}
footer .footer_wrap .footer_link ul li .facebook:hover {
  background-image: url(../images/facebook_h.png);
}
footer .footer_wrap .footer_link ul li .youtube {
  background-image: url(../images/youtube.png);
}
footer .footer_wrap .footer_link ul li .youtube:hover {
  background-image: url(../images/youtube_h.png);
}
footer .footer_wrap .footer_link ul li .naver_post {
  background-image: url(../images/naver_post.png);
}
footer .footer_wrap .footer_link ul li .naver_post:hover {
  background-image: url(../images/naver_post_h.png);
}
footer .footer_wrap .footer_logo {
  position: relative;
  width: 33%;
  text-align: center;
  line-height: 40px;
  font-size: 15px;
}
footer .footer_wrap .footer_logo select {
  position: relative;
  background: transparent;
  border: 0px solid;
  border-bottom: 1px solid #6b6b6b;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  color: #929191;
  width: 60%;
  margin: auto;
  padding: 10px;
  cursor: pointer;
}
footer .footer_wrap .footer_logo select:hover {
  color: #6b6b6b;
}
footer .footer_wrap .footer_logo select option {
  color: #6b6b6b;
}
@media screen and (max-width: 700px) {
  footer .footer_wrap .footer_logo {
    margin-right: 6rem;
    width: 20%;
  }
}
footer .footer_wrap .copyright {
  width: 33%;
  text-align: right;
}
@media screen and (max-width: 700px) {
  footer .footer_wrap .copyright {
    width: 60%;
  }
}
footer .footer_wrap .copyright p {
  font-size: 11px;
  font-weight: 700;
  display: inline-block;
}
footer .footer_wrap .copyright p:first-child {
  padding-right: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */