@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-y: hidden;
  text-transform: uppercase;
}
body {
  font-family: "Nanum Gothic", sans-serif;
}
a {
  text-decoration: none;
}
ol,
ul,
li {
  list-style: none;
}
