$color-primary: #285a91;
$color-secondary: #1f9cfd;
$color-light: #fff;
$color-dark: #000;

$color-blue-1: #a8d8ff;
$color-blue-2: #c1e1ff;
$color-blue-3: #d6eaff;
$color-blue-dark: #3f4a56;

$color-grey-light: #6b6b6b;
$color-grey-dark: #272727;
